name: Demo Workflow

on:
  push:
    branches:
      - 'main'
      - 'development'

jobs:
  demo-job:
    name: Demo Job
    runs-on: ubuntu-latest
    steps:
      - name: Message 1
        run : echo ${{ secrets.DATABRICKS_TEST_HOST }}
      - name: Message 2
        run: echo "this is message 2"
